@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.container {
  height: 60px;
}

.wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.wrapper .left {
  flex: 1;
  display: flex;
}

.wrapper .center {
  flex: 1;
  text-align: center;
}

.wrapper .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.language {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
}

.searchContainer {
  display: flex;
  border: 0.5px solid lightgrey;
  align-items: center;
  margin-left: 25px;
  padding: 3px;
}

.searchContainer input {
  border: none;
}

.logo {
  font-weight: 900;
}

.menuItem {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
